@import "./normalise.css";

:root {
  --content-width: 160rem;
  --white: #ffffff;
  --black: #10100f;
  --grey1: #373737;
  --green: #57bf9c;
  --yellow: #fad16d;
  --blue: #63a2f8;
  --purple: #c09df8;
}

body {
  background-color: var(--black);
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

@import "components/site-header";
@import "components/site-intro";
@import "components/feature-cards";
@import "components/gallery";
