.gallery {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1rem;

  @media only screen and (min-width: 900px) {
    padding: 0 3rem;
  }
}

.gallery__item {
  margin-bottom: 2rem;
  position: relative;
}

.gallery__title {
  font-family: var(--font-1);
  font-weight: 500;
  position: absolute;
  background: var(--white);
  padding: 0.9rem;
  border-radius: 0.6rem;
  left: 1.1rem;
  top: 1.3rem;
  font-size: 1.4rem;

  @media only screen and (min-width: 900px) {
    left: 2rem;
    top: 2rem;
    font-size: 1.6rem;
  }
}

.gallery__image {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.11);
}

.gallery__heading {
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 3rem;
  color: var(--white);
}

.gallery__description {
  font-family: var(--font-1);
  line-height: 1.3;
  font-weight: 300;
  font-size: 2.1rem;
  color: var(--white);
  max-width: 700px;
  margin-top: 2rem;

  @media only screen and (min-width: 900px) {
    font-size: 2.5rem;
  }
}

.gallery__header {
  margin-top: 5rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: 900px) {
    margin-top: 13rem;
  }
}
