.site-intro {
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 3rem 1rem 1rem;
  margin-bottom: 4rem;
  min-height: calc(40vh - 3rem);

  @media only screen and (min-width: 800px) {
    padding: 0 3rem;
    padding: 3rem 3rem 9rem;
    min-height: calc(100vh - 40rem);
  }
}

.site-intro__text-highlight {
  @media only screen and (min-width: 800px) {
    background: #1a1a1a;
    padding: 0.6rem 1.7rem 0.6rem 0.6rem;
    border-radius: 1.8rem;
    position: relative;
    display: inline-block;
    margin: 0.5rem 0;
  }
}

.site-intro__text {
  font-family: var(--font-2);
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
  font-style: normal;
  color: var(--white);
  margin-top: 6rem;

  @media only screen and (min-width: 800px) {
    font-size: 8rem;
    font-size: 5rem;
    max-width: 85rem;
    margin-top: 2rem;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 7rem;
    max-width: 99rem;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 10rem;
    max-width: 128rem;
  }
}
