.site-header {
  max-width: var(--content-width);
  margin: 0px auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  backdrop-filter: blur(1rem);
  top: 0;
  height: 6rem;
  z-index: 1;
  @media only screen and (min-width: 800px) {
    padding: 0 3rem;
    height: 11rem;
  }
}

.site-header__site-name {
  color: var(--white);
  font-size: 2.3rem;
  font-family: var(--font-1);
  font-weight: 400;
  @media only screen and (min-width: 800px) {
    font-size: 3rem;
  }
}

.site-header__nav-link {
  color: var(--white);
  font-size: 1.2rem;
  margin-left: 1rem;
  background: white;
  padding: 1rem 1rem;
  border-radius: 1.5rem;
  color: black;
  font-family: var(--font-1);
  font-weight: 500;
  text-decoration: none;

  @media only screen and (min-width: 800px) {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    margin-left: 2rem;
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    background: #333333;
    color: white;
    transition: all 0.3s ease-in-out;
  }
}

.site-header__nav-link--active {
  background: #333333;
  color: var(--white);
}
