:root {
  --content-width: 160rem;
  --white: #ffffff;
  --black: #10100f;
  --grey1: #373737;
  --green: #57bf9c;
  --yellow: #fad16d;
  --blue: #63a2f8;
  --purple: #c09df8;
  --font-1: "Inter", serif;
  --font-2: "Cardo", serif;
}
